.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    background-color: rgba(21, 27, 83, 0.7);
    z-index: 999;

    &__container {
        @extend .flex;
        align-items: center;
    }
}
