-
  const features = [
    {
      icon: {
        name:       'clock',
        width:      '80',
        height:     '80'
      },

      title: {
        text:       'Не тратим время зря'
      },

      text: {
        //content:    'У нас слаженный механизм, позволяющий быстро и эффективно оценить проект, заключить договор, подписать NDA и в кротчайшие сроки сдать проект.'
        content: 'Стараемся максимально быстро и эффективно оценить проект, заключить договор и запустить проект в работу'
      }
    },

    {
      icon: {
        name:       'lamp',
        width:      '80',
        height:     '80'
      },

      title: {
        text:       'Индивидуальный подход'
      },

      text: {
        //content:    'Мы с радостью разработаем уникальный дизайн сайта, который будет отображать вашу уникальность и удовлетворять всем вашим требованиям и пожеланиям.'
        content: 'Окунемся с головой в Вашу идею и предложим несколько вариантов для ее реализации'
      }
    },

    {
      icon: {
        name:       'man',
        width:      '80',
        height:     '80'
      },

      title: {
        text:       'Честность по отношению к себе и клиенту'
      },

      text: {
        content:    'Искренность в каждом действии - ключ к успешному отношению с клиентом, продуктивно влияющим на  ваш бизнес.'
        //content: 'Успех нашего клиента - наш успех. А честность и прямота в любой ситуации - залог хороших партнерских отношений'
      }
    },

    {
      icon: {
        name:       'money',
        width:      '80',
        height:     '80'
      },

      title: {
        text:       'Справедливая рыночная цена'
      },

      text: {
        content:    'Обеспечим достойное качество, которое соответсвует реальной стоимости услуг и является разумной для клиентов.'
      }
    },
  ]
