-
  const services = [
    {
      icon: {
        name:       'site',
        width:      '80',
        height:     '80'
      },

      title: {
        text:       'Сайты-визитки'
      },

      text: {
        content:    'Страницы с интерактивом, формами, корзинами. Доступные интерфейсы для пользователей.'
      },

      price: {
        value:      'от&nbsp;20&nbsp;000&nbsp;руб.'
      }
    },

    {
      icon: {
        name:       'landing',
        width:      '80',
        height:     '80'
      },

      title: {
        text:       'Лендинги'
      },

      text: {
        content:    'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'
      },

      price: {
        value:      'от&nbsp;30&nbsp;000&nbsp;руб.'
      }
    },

    {
      icon: {
        name:       'corp-site',
        width:      '80',
        height:     '80'
      },

      title: {
        text:       'Корпоративные сайты'
      },

      text: {
        content:    'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'
      },

      price: {
        value:      'от&nbsp;120&nbsp;000&nbsp;руб.'
      }
    },

    {
      icon: {
        name:       'shop',
        width:      '80',
        height:     '80'
      },

      title: {
        text:       'Интернет-магазины'
      },

      text: {
        content:    'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'
      },

      price: {
        value:      'от&nbsp;80&nbsp;000&nbsp;руб.'
      }
    },

    {
      icon: {
        name:       'app',
        width:      '80',
        height:     '80'
      },

      title: {
        text:       'Web-приложения'
      },

      text: {
        content:    'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'
      },

      price: {
        value:      'от&nbsp;80&nbsp;000&nbsp;руб.'
      }
    },

    {
      icon: {
        name:       'seo',
        width:      '80',
        height:     '80'
      },

      title: {
        text:       'Оптимизируем сайты в поисковой выдаче(SEO)'
      },

      text: {
        content:    'Поможем вывести Ваш сайт в ТОП-20 поисковой выдачи.'
      },

      price: {
        value:      'от&nbsp;40&nbsp;000&nbsp;руб./месяц'
      }
    },
  ]
