-
  const workflowStepList = [
    {
      title: 'Предварительно оцениваем',
      desc: 'Оцениваем проект вилкой, определяем сложность и&nbsp;собираем команду, которая будет&nbsp;работать над&nbsp;проектом.'
    },

    {
      title: 'Согласовавываем <br/> все нюансы',
      desc: 'Команда внимательно изучает проект, <br/>задаёт вопросы и&nbsp;уточняет оценку.'
    },

    {
      title: 'Запускаем проект <br/> в&nbsp;работу',
      desc: 'К этому времени договор согласован, <br/>поэтому мы начинаем работу. Создаём чат для&nbsp;оперативного общения и&nbsp;добавляем туда необходимых.'
    },

    {
      title: 'Дизайним, верстаем, <br/> программируем',
      desc: 'Работаем в&nbsp;соответствии с&nbsp;утвержденными этапами работы. Показываем промежуточные результаты. При необходимости вносим корректировки.'
    },

    {
      title: 'Тестируем',
      desc: 'Перед сдачей проекта <br/> проводим полное тестирование, <br/>исправляем недочеты и&nbsp;отдаём.'
    },

    {
      title: 'Сопровождаем',
      desc: 'Остаёмся на связи  <br/> и&nbsp;при&nbsp;необходимости помогаем с&nbsp;проектом после сдачи.'
    },
  ]
