.info-card {
  @extend .flex-column;
  @extend .glassmorph-bg;

  height: 100%;
  padding: 20px;

  svg {
    fill: var(--secondary);
    margin-bottom: 20px;
  }

  &__title {
    font-size: 22px;
    line-height: 1.1; 
    font-weight: 400;

    min-height: 60px;
    margin-bottom: 12px;
  }

  &__text {
    font-weight: 300;
    @extend .light-text;
  }
}
