.service-card {
  @extend .flex-column;
  height: 100%;
  @extend .glassmorph-bg;

  &__title {
    font-size: 22px;
    line-height: 1.1;
    font-weight: 400;
    min-height: 55px;
    margin-bottom: 8px;
  }

  &__text {
    font-weight: 300;
    @extend .light-text;
  }

  &__content {
    @extend .flex-column;
    padding: 32px;

    svg {
      fill: var(--service-icon-color);
      margin-bottom: 16px;
    }
  }

  &__footer {
    margin-top: auto;
    padding-bottom: 32px;
  }
}
