/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
    // base

    --base-font: "Lato", sans-serif;
    --alt-font: "MontserratAlternates", sans-serif;
    --content-width: 1400px;
    --content-sm-width: 1140px;
    --content-fluid-width: 1720px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-sm-width: calc(var(--content-sm-width) + (var(--container-offset) * 2));
    --container-fluid-width: var(--content-fluid-width);

    // colors
    --accent        : #d52027;
    --primary       : #10164a;
    --secondary     : #8468f6;
    --warning       : #ec9a29;

    --white         : #ffffff;
    --black         : #000000;
    --lightblack    : #232323;

    --purple-0: #080D39;
    --purple-1: #151B53;
    --purple-2: #2B209B;
    --purple-3: #5030d4;
    --purple-4: #6E52E0;
    --purple-5: #8468f6;
    --purple-6: #947bfb;
    --purple-7: #7672FF;

    --primary-text-color: var(--white);
    --main-bg-color: var(--primary);
    --alt-bg-color: var(--purple-0);

    --price-badge-linear-bg: linear-gradient(270deg, #EC9A29 59.62%, rgba(236, 154, 41, 0.29) 142.88%);
    --main-box-shadow: 2px 4px 6px rgba(236, 154, 41, 0.42);

    // service-card
    --service-card-bg: rgba(67, 21, 255, 0.2);
    --service-icon-color: var(--purple-6);
    // main-btn
    --main-button-linear-bg: linear-gradient(90deg, #F5DFA0 0%, #EC9A29 68.75%);
    // scrollbar
    --main-scrollbar-width         : 10px;
    --main-scrollbar-color         : var(--purple-6);
    --main-scrollbar-thumb-color   : var(--primary);

    --main-transition: .25s ease-in;
  }
