a(href="/" aria-label="LittleWeb.ru - создание сайтов и приложений под ключ.").main-logo
  img(src="./assets/img/main-logo.svg" alt="Littleweb.ru" width="240" height="50")
  span Создание сайтов под ключ
