nav.main-nav
  ul
    li
      a(href="#services").anchor-link Услуги
    li
      a(href="#features").anchor-link О нас
    li
      a(href="#portfolio").anchor-link Портфолио
    li
      a(href="#clients").anchor-link Наши клиенты
    li
      a(href="#contacts").anchor-link Контакты

  .main-nav__contacts
    include ../content/common/company-phone
    include ../content/common/company-mail

  include ./burger
