mixin info-card(data)
  .info-card
    if data.icon
      svg(width= data.icon.width height= data.icon.height)
        use(xlink:href=`./assets/sprite.svg#icon-${data.icon.name}`)

    if data.title
      span.info-card__title(class= data.title.className ? data.title.className : null)!= data.title.text

    if data.text
      span.info-card__text(class= data.text.className ? data.text.className : null)!= data.text.content
