section.section
  .container
    include ../sections/index-page-sections/services
    include ../sections/index-page-sections/stack
    include ../sections/index-page-sections/features
    include ../sections/index-page-sections/workflow
    include ../sections/index-page-sections/clients
    include ../sections/index-page-sections/portfolio
    include ../sections/index-page-sections/contacts
