include ../../mixins/main-title

section.lw-section.clients
  .lw-container
    +main-title({
      selector: 'h2',
      className: 'lw-main-title',
      text: 'Наши <span>клиенты</span>',
    })

    .swiper.clients-slider
      .swiper-wrapper
        .swiper-slide
          a(href="#" rel="noopener noreferrer nofollow" aria-label="")
            img(src="./assets/img/clients/joywork-logo.svg" alt="Бюро переводов Импрешн" width="200" height="70")

        //.swiper-slide
          a(href="#" rel="noopener noreferrer nofollow" aria-label="Бюро переводов Импрешн")
            img(src="./assets/img/clients/impression-logo.svg" alt="Бюро переводов Импрешн" width="200" height="70")

        .swiper-slide.dark-bg
          a(href="#" rel="noopener noreferrer nofollow" aria-label="Бюро переводов Импрешн")
            img(src="./assets/img/clients/niti-logo.svg" alt="Бюро переводов Импрешн" width="200" height="70")

        //.swiper-slide
          a(href="#" rel="noopener noreferrer nofollow" aria-label="Бюро переводов Импрешн")
            img(src="./assets/img/clients/cldoc-logo.svg" alt="Бюро переводов Импрешн" width="200" height="70")

        //.swiper-slide
          a(href="#" rel="noopener noreferrer nofollow" aria-label="Бюро переводов Импрешн")
            img(src="./assets/img/clients/gmt-clinic-logo.svg" alt="Бюро переводов Импрешн" width="200" height="70")

        //.swiper-slide.dark-bg
          a(href="#" rel="noopener noreferrer nofollow" aria-label="")
            img(src="./assets/img/clients/pogdveri-logo.svg" alt="Бюро переводов Импрешн" width="200" height="70")
