include ../../mixins/main-title

section.lw-section.clients
  .lw-container
    +main-title({
      selector: 'h2',
      className: 'lw-main-title',
      text: 'С кем мы&nbsp;<span>сотрудничаем</span>',
    })
