include ../../mixins/main-title

section.lw-section.contacts
  .lw-container
    +main-title({
      selector: 'h2',
      className: 'lw-main-title',
      text: 'Как с нами &nbsp;<span>связаться</span>',
    })
