include ../../mixins/main-title


section.lw-section.contacts#contacts
  .lw-container
    +main-title({
      selector: 'h2',
      className: 'lw-main-title',
      text: 'Как с нами &nbsp;<span>связаться</span>',
    })

    .contacts__content
      .contacts__field
        span Телефон:
        include ../../content/common/company-phone

      .contacts__field
        span Электронная почта:
        include ../../content/common/company-mail

      .contacts__field
        span Мы в соцсетях:
        include ../../components/social

