include ../../mixins/main-title

section.lw-section.portfolio
  .lw-container
    +main-title({
      selector: 'h2',
      className: 'lw-main-title',
      text: 'Готовые&nbsp;<span>проекты</span>',
    })
