include ../../content/index-page-content/services

include ../../mixins/main-title
include ../../mixins/service-card
include ../../mixins/main-btn

section.lw-section.services#services
  .lw-container
    +main-title({
      selector: 'h2',
      className: 'lw-main-title',
      text: 'Что мы&nbsp;<span>делаем</span>',
    })

    ul.services__list
      each service in services
        li.services__list-item
          +service-card(service)

    +main-btn({
      className: 'anchor-link',
      type: 'link',
      url: '#callback',
      text: 'Оставить заявку'
    })



