include ../../mixins/main-title

section.lw-section.stack#stack
  .lw-container
    +main-title({
      selector: 'h2',
      className: 'lw-main-title',
      text: 'Что мы <span>используем</span> в работе',
    })
