include ../../mixins/main-title

section.lw-section.stack
  .lw-container
    +main-title({
      selector: 'h2',
      className: 'lw-main-title',
      text: 'Чем мы это&nbsp;<span>делаем</span>',
    })
