include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

html(lang="ru")
  +head(title, desc, keywords)

  body
    include ./main-header

    main
      #smooth-wrapper
        #smooth-content
          block content

    include ./main-footer

    include ../components/custom_cursor
    block modals
    block scripts
